@use '../abstracts' as *;

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  img {
    width: 100%;
    height: 100%;
  }

  @include mq('lg') {
    width: 24px;
    height: 24px;
  }
}
