@use '../abstracts' as *;

$details-padding-left: 66px;
$details-padding-right: 78px;

.product {
  display: grid;
  grid-template-areas:
    'breadcrumb'
    'media'
    'details'
    'accordion';
  max-width: $container-max-width;
  margin-inline: auto;

  @include mq('lg') {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'media breadcrumb'
      'media details'
      'accordion details';
  }

  @include mq('xl') {
    grid-template-columns: 5fr 3fr;
  }

  &__breadcrumb {
    grid-area: breadcrumb;
    padding: 12px $gutter 14px;
    background-color: $color-bg-light;

    @include mq('lg') {
      padding: 27px $details-padding-right 0 $details-padding-left;
      background-color: transparent;
    }
  }

  &__media {
    grid-area: media;
    align-self: start;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 414 / 390;
    object-fit: cover;

    @include mq('lg') {
      aspect-ratio: 900 / 770;
    }
  }

  &__details {
    grid-area: details;
    padding: 25px $gutter 42px;
    background-color: $color-bg-light;

    @include mq('lg') {
      padding: 54px $details-padding-right 0 $details-padding-left;
      background-color: transparent;
    }
  }

  &__header {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-accent;

    @include mq('lg') {
      padding-bottom: 21px;
    }
  }

  &__title {
    // font-size: $font-size-xxl;
    font-size: clamp(22px, 6.8vw, $font-size-xxl);
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 11px;
    letter-spacing: 0;
    text-transform: uppercase;

    @include mq('lg') {
      margin-top: 8px;
    }
  }

  &__description {
    margin-top: 16px;

    @include mq('lg') {
      margin-top: 22px;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 35px;
    column-gap: 8px;
    margin-top: 50px;
    padding-bottom: 34px;
    border-bottom: 1px solid $color-accent;

    @include mq('lg') {
      row-gap: 30px;
      margin-top: 44px;
    }
  }

    &__purchase {
    margin-top: 41px;

    @include mq('lg') {
      margin-top: 30px;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 0;
  }

  &__sale-price {
    color: $color-sale;

    @include mq('lg') {
      color: inherit;
    }
  }

  &__actions {
    display: flex;
    gap: 19px;
    margin-top: 47px;

    @include mq('lg') {
      gap: 16px;
      margin-top: 50px;
    }
  }

  &__submit {
    flex: 1;
  }

    &__accordion {
    grid-area: accordion;
    padding: 8px $gutter 0;

    @include mq('lg') {
      padding: 0 60px;
    }

    @include mq('xl') {
      padding: 0 94px 0 136px;
    }
  }

}
